$form-container-background: #2a3c5f;
$submit-button-background: #edefe2;

.quiz-result-image {
  width: 100%;
}

h2 {
  text-align: center;
}

.question-container {
  margin: 2rem;
}

.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .submit-btn {
    background-color: $submit-button-background;
  }
}

.form-container {
  padding: 1rem 0;
  background-color: $form-container-background;
}

.radio-answer {
  color: grey;
}
