$title-color: black;

.custom-h1 {
  color: $title-color;

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: $title-color;
    letter-spacing: 1px;
    font-size: 40px;
    margin: 1rem;
  }

  h1 span {
    margin-top: 5px;
    font-size: 30px;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
  }

  h1 span:after,
  h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  }
}

@media (max-width: 800px) {
  .custom-h1 {
    h1,
    h1 span {
      font-size: small;
    }
  }
}
